@import "tailwindcss";

@theme {
  --color-primary: #00288e;
  --color-primary-container: #1e40af;
  --color-on-primary: #ffffff;
  --color-secondary: #006c4a;
  --color-secondary-container: #82f5c1;
  --color-on-secondary-container: #00714e;
  --color-tertiary: #003758;
  --color-tertiary-container: #004f7b;
  --color-background: #f8f9ff;
  --color-on-background: #121c28;
  --color-surface: #f8f9ff;
  --color-on-surface: #121c28;
  --color-surface-container: #e5eeff;
  --color-surface-container-low: #eef4ff;
  --color-surface-container-high: #dfe9fa;
  --color-outline: #757684;
  --color-outline-variant: #c4c5d5;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;

  --font-inter: var(--font-inter);
}

@layer base {
  * {
    @apply border-outline-variant;
  }
  body {
    @apply bg-background text-on-background font-inter;
  }
}

/* Custom Utilities */
.docked {
  position: sticky;
}

.full-width {
  width: 100%;
}
